@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700,800,900");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

.max-width {
    max-width: 1500px;
    margin: auto;
}

.navbar, .info {
    padding: 0 10rem;
}

/* Navbar */

.navbar {
    background-color: #141518;
    box-shadow: 0 0 0.5rem #0c0c0e;
    position: sticky;
    top: 0;
    z-index: 99;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    height: 4rem;
    transition: all ease 0.4s;
}

nav ul {
    display: flex;
    gap: 4rem;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    color: #858e9e;
    transition: all ease 0.3s;
}

nav ul a:hover  {
    color: #f5f0dc;
}

/* Logo */

.logo {
    position: relative;
}

.mw {
    height: 3rem;
    transition: all ease 0.3s;
}

.mw.hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all ease 0.3s;
}

.mw.hover:hover {
    opacity: 1;
}

/* Header */

.main {
    background: linear-gradient(#0d0d0e, #18181a, #0d0d0e);
}

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 5rem;
}

h1 {
    color: #f5f0dc;
    font-weight: 700;
    font-size: 3.6rem;
    letter-spacing: -0.1rem;
    word-spacing: 0.5rem;
    margin-bottom: 8rem;
    text-align: center;
    transition: all ease 0.3s;
    min-height: 10rem;
    overflow: hidden;
}

hr {
    height: 1px;
    position: relative;
    width: 100%;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #f5f0dc));
    animation: fadeLine 5s ease;
}

/* Projects */

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    max-width: 90rem;
    padding-top: 10rem;
}

.box {
    max-width: 25rem;
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: hidden;
    border-radius: 0.4rem;
    transition: transform 0.4s;
    animation: fadeIn 2s ease;
}

.box:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5rem;
    background-color: #000000b3;
    color: #dfdfdf;
    text-shadow: 0 0 1rem #111111;
    font-size: 1.7rem;
    font-weight: 800;
    letter-spacing: 0.3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.box:hover .title {
    opacity: 1;
}

/* Contact */

h2 {
    color: #858e9e;
    letter-spacing: 0.3rem;
    word-spacing: 0.3rem;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 4rem;
}

.info {
    background: linear-gradient(#141518, #0b0c0e);
}

.container-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12rem;
    gap: 5rem;
}

.contact {
    z-index: 90;
    flex: 1;
    max-width: 50rem;
    padding-top: 6rem;
}

/* About Me */

.about {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    padding-top: 6rem;
}

.about .text {
    color: #858e9e;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 6rem;
    max-width: 10rem;
    text-align: center;
    letter-spacing: 0.1rem;
    word-spacing: 0.5rem;
    z-index: 1;
}

.container-about {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.about-me-img {
    max-width: 22rem;
    height: auto;
    border-radius: 1rem;
    box-shadow: 3rem 3rem 3rem #0b0c0e;
    position: relative;
    overflow: hidden;
}

.about-me-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Social Icons */

.icons {
    display: flex;
    gap: 1rem;
    margin-top: 6rem;
}

.icons span {
    color: #858e9e;
    padding: 0.5rem;
    border: 1px solid #858e9e;
    border-radius: 0.3rem;
    transition: all ease 0.3s;
}

.icons span:hover {
    color: #f5f0dc;
    border: 1px solid #f5f0dc;
    cursor: pointer;
}

/* Copyright */

.copyright {
    margin-top: 3rem;
    color: #858e9e;
    font-size: 1.2rem;
    font-weight: 300;
}

/* Form */

form {
    margin: 0;
}

label {
    display: block;
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    gap: 2rem;
}

.form-group {
    flex: 1;
    margin-bottom: 1rem;
}

input[type="text"],
input[type="email"],
textarea {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: solid 1px #858e9e;
    color: #f5f0dc;
    display: block;
    outline: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    margin-bottom: 3rem;
    font-size: 1.4rem;
    font-weight: 300;
    min-height: 4rem;
    transition: all ease 0.3s;
    width: 100%;
}

input[type="text"],
input[type="email"] {
    width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-bottom: 1px solid #f5f0dc;
}

select {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23c9c9c9' /%3E%3C/svg%3E");
    background-size: 1.25rem;
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    min-height: 3em;
    padding-right: 3em;
    text-overflow: ellipsis;
    margin-bottom: 1.5em;
}

textarea {
    padding: 0;
    resize: none;
    overflow: hidden;
    max-width: 50rem;
}

button {
    border: none;
    border-radius: .3rem;
    background-color: #858e9e;
    color: #dfdfdf;
    padding: 0.8rem 1.8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 0.4rem;
    transition: all ease 0.3s;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

button:hover {
    cursor: pointer;
    background-color: #f5f0dc;
    color: #585858;
}

button:focus {
    background-color: #cecabb;
}

/* Responsive styles */

@media (max-width: 1400px) {
    .container-info {
        flex-direction: column-reverse;
        align-items: center;
    }

    .about {
        margin: 0;
    }
}

@media (max-width: 875px) {
    h1, h2, p {
        text-align: center;
    }

    .about {
        flex-direction: column-reverse;
        align-items: center;
    }

    .container-about {
        align-items: center;
    }
    
    .about .text {
        max-width: 30rem;
        margin-top: 1rem;
    }

    .contact, form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar, .info {
        padding: 0 5rem;
    }

    .container-nav {
        justify-content: space-between;
        width: 100%;
    }

    .lightbox-content {
        padding: 3rem 4rem !important;
    }

    .lightbox img {
        margin: 0 auto 3rem auto !important;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: #141518;
        flex-direction: column;
        align-items: center;
        padding: 0;
        box-shadow: 0 0.5rem 0.5rem -0.5rem #0c0c0e;
        gap: 2rem;
        max-height: 0;
        overflow: hidden;
        transition: all ease 0.5s;
    }

    .nav-links.show {
        max-height: 15rem;
        padding: 2rem;
    }

    .bar-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        width: 2.5rem;
        height: 2rem;
        transition: transform 0.3s;
    }

    .bar-container:hover .bar {
        background-color: #f5f0dc;
    }

    .menu-open .bar-container {
        transform: rotate(90deg);
        transform-origin: center;
    }
    
    .bar {
        height: 0.3rem;
        width: 100%;
        background-color: #858e9e;
        border-radius: 0.1rem;
        transition: all ease 0.3s;
    }
}

@media (max-width: 720px) {
    .container-main {
        padding: 10rem 2rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2.6rem;
        margin-bottom: 5rem;
    }

    .container-main {
        padding: 5rem 2rem;
    }

    .projects {
        padding-top: 5rem;
    }

    .form-row {
        display: flex;
        flex-direction: column;
    }

    .navbar, .info {
        padding: 0 2rem;
    }

    .lightbox-content {
        padding: 3rem 2rem !important;
    }

    .lightbox img {
        margin: 0 auto 2rem auto !important;
    }

    .lightbox-title {
        font-size: 1.5rem !important;
    }
}

/* Animations */

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-5rem);
    }
    15% {
        opacity: 0;
        transform: translateY(-5rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeLine {
    0% {
        opacity: 0;
        width: 0;
    }
    25% {
        opacity: 0.2;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

/* Lightbox */

.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000cc;
    overflow-y: scroll; /* Enable vertical scrolling within the lightbox */
    padding: 1rem;
}

.lightbox-content {
    background-color: #141518;
    max-width: 1200px;
    margin: 3rem auto; /* Center the lightbox vertically and horizontally */
    padding: 5rem 6rem;
    position: relative;
    box-shadow: 0 0 1rem #00000080;
    border-radius: 0.7rem;
}

.lightbox img {
    max-width: 100%;
    margin: 0 auto 5rem auto;
    display: flex;
    flex-direction: column;
}

.close {
    position: absolute;
    top: -0.4rem;
    right: 0.8rem;
    font-size: 3rem;
    color: #858e9e;
    cursor: pointer;
    transition: all ease 0.2s;
}

.close:hover {
    color: #f5f0dc;
}

.lightbox-title {
    color: #858e9e;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 0.3rem;
    word-spacing: 1rem;
    overflow-wrap: break-word;
}
