@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700,800,900");

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

/* Navbar */

nav {
    height: 4rem;
    background-color: #141518;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    transition: all ease 0.4s;
    position: sticky;
    top: 0;
    overflow: hidden;
    box-shadow: 0 0 0.5rem #0c0c0e;
}

nav ul {
    display: flex;
    gap: 4rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    color: #858e9e;
    transition: all ease 0.3s;
}

nav a:hover  {
    color: #f5f0dc;
}

nav, .info {
    padding: 0 15rem;
}

/* Logo */

.logo {
    position: relative;
}

.mw {
    height: 3rem;
    transition: all ease 0.3s;
}

.mw.hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all ease 0.3s;
}

.mw.hover:hover {
    opacity: 1;
}

/* Header */

.main .container {
    background: linear-gradient(#0d0d0e, #18181a, #0d0d0e);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem 10rem;
}

h1 {
    color: #f5f0dc;
    font-weight: 700;
    font-size: 3.6rem;
    letter-spacing: -0.1rem;
    word-spacing: 0.5rem;
    margin: 5rem 0 8rem 0;
    transition: all ease 0.3s;
}

/* Projects */

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    max-width: 90rem;
    padding-top: 8rem;
}

.projects div {
    height: 25rem;
    width: 25rem;
    background-color: #858e9e;
    transition: all ease 0.4s;
    border-radius: 0.4rem;
    overflow: hidden;
}

.projects div:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Contact */

h2 {
    color: #858e9e;
    letter-spacing: 0.3rem;
    word-spacing: 0.3rem;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 4rem;
}

.info {
    background: linear-gradient(#141518, #0b0c0e);
    display: flex;
    flex-direction: column;
}

.contact {
    z-index: 90;
    padding-top: 6rem;
}

/* About Me */

.about {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    margin: -25rem 0 10rem 0;
}

.about .text {
    color: #858e9e;
    font-style: italic;
    font-size: 1.5rem;
    margin-top: 6rem;
    width: 10rem;
    text-align: center;
    letter-spacing: 0.1rem;
    word-spacing: 0.5rem;
}

.container-about {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container-about img {
    border-radius: 1rem;
    box-shadow: 3rem 3rem 3rem #0b0c0e;
}

/* Form */

form {
    margin: 0;
}

label {
    display: block;
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    width: 50rem;
}

.form-group {
    flex: 0 0 calc(50% - 1rem);
    margin-bottom: 1rem;
}

input[type="text"],
input[type="email"],
textarea {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: solid 1px #858e9e;
    color: #f5f0dc;
    display: block;
    outline: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    margin-bottom: 3rem;
    font-size: 1.4rem;
    font-weight: 300;
    min-height: 4rem;
    transition: all ease 0.3s;
}

input[type="text"],
input[type="email"] {
    width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-bottom: 1px solid #f5f0dc;
}

select {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23c9c9c9' /%3E%3C/svg%3E");
    background-size: 1.25rem;
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    height: 3em;
    padding-right: 3em;
    text-overflow: ellipsis;
    margin-bottom: 1.5em;
}

textarea {
    padding: 0;
    resize: none;
    overflow: hidden;
    width: 50rem;
}

button {
    border: none;
    border-radius: .3rem;
    background-color: #858e9e;
    color: #dfdfdf;
    padding: 0.8rem 1.8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 0.4rem;
    transition: all ease 0.3s;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

button:hover {
    cursor: pointer;
    background-color: #f5f0dc;
    color: #585858;
}

button:focus {
    background-color: #cecabb;
}

/* Copyright */

.copyright {
    margin-top: 8rem;
    color: #858e9e;
    font-size: 1.2rem;
    font-weight: 300;
}

/* Responsive styles */

@media screen and (max-width: 1900px) {

    .info {
        flex-direction: column-reverse;
        align-items: center;
    }

    .about {
        margin: 0;
    }

    .copyright {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1000px) {
    .navbar {
        justify-content: center;
    }

    form {
        padding: 0 5rem;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    form {
        width: 100%;
    }

    label,
    input[type="text"],
    input[type="email"],
    textarea,
    select {
        width: 100%;
    }
}