@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700,800,900");

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

nav {
    height: 4rem;
    background-color: #141518;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    transition: all ease 0.4s;
    position: sticky;
    top: 0;
    overflow: hidden;
}

nav ul {
    display: flex;
    gap: 4rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    color: #444a55;
    transition: all ease 0.3s;
}

nav a:hover  {
    color: #f5f0dc;
}

.main .container {
    background-color: #0d0d0e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem 10rem;
}

h1 {
    color: #B9BAA3;
    font-weight: 700;
    font-size: 3.6rem;
    letter-spacing: -0.1rem;
    word-spacing: 0.5rem;
    margin: 5rem 0 10rem 0;
    transition: all ease 0.3s;
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    max-width: 90rem;
}

.projects div {
    height: 25rem;
    width: 25rem;
    background-color: #444a55;
    transition: all ease 0.4s;
}

.projects div:hover {
    transform: scale(1.08);
    cursor: pointer;
}

h2 {
    color: #444a55;
    letter-spacing: 0.3rem;
    word-spacing: 0.3rem;
    font-size: 1.5rem;
    font-weight: 800;
}

.info {
    background-color: #141518;
    display: flex;
    justify-content: space-between;

}

nav, .info {
    padding: 0 15rem;
}

.contact {
    width: 30rem;
}

.logo {
    position: relative;
}

.logo .logo-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all ease 0.3s;
}

.logo .logo-hover:hover {
    opacity: 1;
}

/* Form */

form {
    margin: 0;
}

label {
    display: block;
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

input[type="text"],
input[type="email"],
textarea {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: solid 2px #444a55;
    color: #f5f0dc;
    display: block;
    outline: 0;
    padding: 0;
    text-decoration: none;
    width: 100%;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    margin-bottom: 3rem;
    font-size: 1rem;
    min-height: 2rem;
}

select {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23c9c9c9' /%3E%3C/svg%3E");
    background-size: 1.25rem;
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    height: 3em;
    padding-right: 3em;
    text-overflow: ellipsis;
    margin-bottom: 1.5em;
}

textarea {
    padding: 0;
    width: 100%;
    resize: vertical;
}

button {
    border: none;
    border-radius: .3rem;
    background-color: #444a55;
    color: #c9c9c9;
    padding: 0.8rem 1.8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1rem;
    transition: all ease 0.3s;
}

button:hover {
    cursor: pointer;
    background-color: #f5f0dc;
    color: #585858;
}

button:focus {
    background-color: #cecabb;
}

/* Responsive styles */

@media screen and (max-width: 480px) {
    form {
        width: 100%;
    }

    label,
    input[type="text"],
    input[type="email"],
    textarea,
    select {
        width: 100%;
    }
}